<div class="row">
    <nav class="col-sm col-lg-8 offset-lg-2 navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        
          <li li class="nav-item">
            <button mat-button (click)="openDialog(terms)">Terms of Service</button>
          </li>
          <li class="nav-item">
            <button mat-button (click)="openDialog(privacy)">Privacy</button>
          </li>
          <li class="nav-item">
            <button mat-button (click)="openDialog(more)">More</button>
          </li>
          <a>&#169;2021 Husqr</a>
        </ul>
      </div>
    </nav>
  </div>

  