<h1 mat-dialog-title>Husqr Privacy</h1>
<mat-dialog-content>Our Privacy Policy describes how we handle the information you provide
    to us when you use our Services. You understand that through your use
    of the Services you consent to the collection and use (as set forth in
    the Privacy Policy) of this information, including the transfer of this
    information to the United States, Ireland, and/or other countries for
    storage, processing and use by Husqr and its affiliates.</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>