<h1 mat-dialog-title>Husqr General/More</h1>
<mat-dialog-content>We may revise these Terms from time to time. The changes will not be retroactive, and the most
    current version of the Terms, which will always be at Terms of Service, will govern our relationship with you.
    We will try to notify you of material revisions, for example via a service notification or an email to the email
    associated with your account. By continuing to access or use the Services after those revisions
    become effective, you agree to be bound by the revised Terms.
    The laws of the State of California, excluding its choice of law provisions, will govern these Terms and any dispute
    that arises between you and Husqr. All disputes related to these Terms or the Services
    will be brought solely in the federal or state courts located in San Francisco County, California, United States,
    and
    you consent to personal jurisdiction and waive any objection as to inconvenient forum.
    If you are a federal, state, or local government entity in the United States using the Services in your official
    capacity and legally unable to accept the controlling law, jurisdiction or venue clauses above,
    then those clauses do not apply to you. For such U.S. federal government entities, these Terms and any action
    related
    thereto will be governed by the laws of the United States of America (without reference
    to conflict of laws) and, in the absence of federal law and to the extent permitted under federal law, the laws of
    the
    State of California (excluding choice of law).

    In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be
    limited or eliminated to the minimum extent necessary, and the remaining provisions of these
    Terms will remain in full force and effect. Husqr's failure to enforce any right or provision of these Terms will
    not
    be deemed a waiver of such right or provision</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>